<%- include("partials/header.ejs") %>

<div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title" style="color: black; font-family: 'Courier New', Courier, monospace;">As a Programmer Our JOKES Will Make You Laugh Out Loud</h5>
      <p class="card-text"> <%- jokes %> </p>
      <a href="/get-joke" input id="get" type="submit" class="btn btn-primary">Generate Joke</a>
    </div>
  </div>

<%- include("partials/footer.ejs") %>